<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CG TECH - Fale Conosco</title>
    <link rel="stylesheet" type="text/css" href="../static/css/fale-conosco.css"> <!-- Link para o novo CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/estilo.css"> <!-- Link para o novo CSS -->
</head>
<body>
    <header>
        <div id="area-menu">
            <div id="area-logo">
             <h1>
                   CG<span class="branco">TECH</span>
                </h1>
            </div>
        </div>
        <nav id="area-menu">
            <a href="index.html">Home</a>
            <a href="Sobre.html">Sobre</a>
            <a href="Services.html">Serviços</a>
            <a href="Portifolio.html">Portfólio</a>
            <a href="fale-conosco.html">Fale Conosco</a>
        </nav>
    </header>

    <div class="container">
        <h2>Fale Conosco</h2>
        <p>Entre em contato conosco para dúvidas, sugestões ou parcerias.</p>

        <form action="enviar.php" method="post">
            <div class="input-group">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" placeholder="Digite seu nome" required>
            </div>

            <div class="input-group">
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" placeholder="Digite seu e-mail" required>
            </div>

            <div class="input-group">
                <label for="assunto">Assunto:</label>
                <input type="text" id="assunto" name="assunto" placeholder="Digite o assunto" required>
            </div>

            <div class="input-group">
                <label for="mensagem">Mensagem:</label>
                <textarea id="mensagem" name="mensagem" rows="5" placeholder="Escreva sua mensagem..." required></textarea>
            </div>

            <button type="submit">Enviar</button>
        </form>
    </div>

    <footer>
        <p>&copy; 2025 CGTECH Consultoria. Todos os direitos reservados.</p>
    </footer>
    <script src="../static/JS/fale-conosco.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>    
</body>
</html>
