{% extends 'base.html' %}

{% block title %}portfólio - CGTech{% endblock %}
{% block extra_css %}
<!-- <link rel="stylesheet" href="../static/css/estilo.css"> -->
<link rel="stylesheet" href="../static/css/portifolio.css"> {% endblock %}

{% block content %}
    
    <div id="content">
        <section id="portfolio" class="portfolio-section">
            <h2>Meu Portfólio</h2>
            <div class="portfolio-grid">
                <div class="portfolio-card">
                    <h3>GitHub</h3>
                    <p>Veja meus projetos, estudos e repositórios públicos. Sempre buscando aprender e compartilhar.</p>
                    <a href="https://github.com/GabrielCarlosG" target="_blank">Acessar GitHub</a>
                </div>
                <div class="portfolio-card">
                    <h3>Instagram Profissional</h3>
                    <p>Acompanhe as novidades, bastidores dos projetos, dicas de tecnologia e muito mais.</p>
                    <a href="https://www.instagram.com/cgtech_consultoria/" target="_blank">Acessar Instagram</a>
                </div>
                <div class="portfolio-card">
                    <h3>Linkedin</h3>
                    <p>Em constante evolução na área de TI, compartilho minha trajetória profissional no LinkedIn.</p>
                    <a href="https://www.linkedin.com/in/carlos-amorim27/" target="_blank">Acessar Linkedin</a>
                </div>
            </div>
        </section>
        
    </div>
{% endblock %}
