<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CG TECH - Sobre</title>
    <link rel="stylesheet" type="text/css" href="css/estilo.css">
    <link rel="stylesheet" type="text/css" href="css/sobre.css">
</head>
<body>
    <header>
        <div id="area-menu">
            <div id="area-logo">
                <h1>
                    CG<span class="branco">TECH</span>
                </h1>
            </div>
            <nav id="area-menu">
                <a href="index.html">Home</a>
                <a href="Sobre.html">Sobre</a>
                <a href="Services.html">Serviços</a>
                <a href="Portifolio.html">Portfólio</a>
                <!-- <a href="#">Eletronicos</a> -->
                <a href="fale-conosco.html">Fale Conosco</a>
            </nav>
    </header>
    
    <section id="sobre">
        <h2>Quem Somos</h2>
        <div class="sobre-container">
          <img src="img/equipe.jpeg" alt="Equipe CG Tech">
          <div class="texto">
            <p>A <strong>CG Tech Consultoria</strong> é especializada em soluções de tecnologia para o setor hospitalar e pequenas empresas. Nossa missão é entregar resultados reais com agilidade e inovação.</p>
            <ul>
              <li>+5 anos de experiência no mercado</li>
              <li>Atendimento personalizado e direto</li>
              <li>Foco em integração, automação e desempenho</li>
            </ul>
          </div>
        </div>
      </section>
      
      
        <!-- <div id="side-area">

            <div class="side-content">
                <h3>
                    Postagens Recentes
                </h3>
                <div class="side-post">
                    <P>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                        <a href="#">Leia mais</a>
                    </P>
                </div>
                <div class="side-post">
                    <P>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                        <a href="#">Leia mais</a>
                    </P>
                </div>
            </div>
            <div class="side-content">
                <h3>
                    Categorias
                </h3>
                <a href="#">Jogos</a><br>
                <a href="#">Celulares</a><br>
                <a href="#">Informatica</a><br>
                <a href="#">Eletronicos</a><br>
                <a href="#">Jogos</a>

        </div>
    </div> -->
    
    <footer>
        <p>&copy; 2025 CGTECH Consultoria. Todos os direitos reservados.</p>
    </footer>  
</body>
</html>