{% extends 'base.html' %}

{% block title %}Fale Conosco - CGTech{% endblock %}
{% block extra_css %}
<!-- <link rel="stylesheet" href="../static/css/estilo.css"> -->
<link rel="stylesheet" href="../static/css/sobre.css"> {% endblock %}

{% block content %}
    <section id="sobre">
        <h2>Quem Somos</h2>
        <div class="sobre-container">
          <img src="../static/img/equipe.jpeg" alt="Equipe CG Tech">
          <div class="texto">
            <p>A <strong>CG Tech Consultoria</strong> é especializada em soluções de tecnologia para o setor hospitalar e pequenas empresas. Nossa missão é entregar resultados reais com agilidade e inovação.</p>
            <ul>
              <li>+5 anos de experiência no mercado</li>
              <li>Atendimento personalizado e direto</li>
              <li>Foco em integração, automação e desempenho</li>
            </ul>
          </div>
        </div>
      </section>
{% endblock %}